<table class="table table-striped administrativa">
        <thead class="thead-dark">
          <tr>
            <th scope="col">Solicitação</th>
            <th scope="col">Cliente</th>
            <th scope="col">Referência</th>
            <th scope="col">Qtd</th>
            <th scope="col">Problema</th>
            <th scope="col">Status</th>
          </tr>
        </thead>
        <tbody>

          <!-- Início Loop -->
  
            <tr>
              <th scope="row"><?php echo '#2442232'; ?></th>
              <td><?php echo 'Loja Compre Calçados'; ?></td>
              <td><?php echo '344454'; ?></td>
              <td><?php echo '14'; ?></td>
              <td><?php echo 'Fabricação'; ?></td>
              <td><?php echo 'Em análise'; ?></td>
            </tr>
            <tr>
              <th scope="row"><?php echo '#2442232'; ?></th>
              <td><?php echo 'Loja Compre Calçados'; ?></td>
              <td><?php echo '344454'; ?></td>
              <td><?php echo '14'; ?></td>
              <td><?php echo 'Fabricação'; ?></td>
              <td><?php echo 'Em análise'; ?></td>
            </tr>
            <tr>
              <th scope="row"><?php echo '#2442232'; ?></th>
              <td><?php echo 'Loja Compre Calçados'; ?></td>
              <td><?php echo '344454'; ?></td>
              <td><?php echo '14'; ?></td>
              <td><?php echo 'Fabricação'; ?></td>
              <td><?php echo 'Em análise'; ?></td>
            </tr>
            <tr>
              <th scope="row"><?php echo '#2442232'; ?></th>
              <td><?php echo 'Loja Compre Calçados'; ?></td>
              <td><?php echo '344454'; ?></td>
              <td><?php echo '14'; ?></td>
              <td><?php echo 'Fabricação'; ?></td>
              <td><?php echo 'Em análise'; ?></td>
            </tr>
        
          <!-- /END Loop -->

        </tbody>
      </table>